/* Projeto CSS */
body{
    font-family: sans-serif;
    background: #3498db; 
    display: flex;
    justify-content: center;   
}
h1 {color: #0000FF}
.container{
    background: white;
    max-width: 400px; /*largura máxima em pixels*/
    padding: 24px; /*distância interna*/
    border-radius: 16px; /*arredonda os cantos*/
    box-shadow: 8px 8px 16px rgba(0,0,0,0.5)
    /* onde: 0 deslocamento horizontal
             4 deslocamento vertical
            16 ponto de desfoque. quanto > mais 'embaçado'
            rgba código da cor. último valor é o alpha da
            transparência
    */
}
.logo{
    width: 150px; /*largura em pixels*/
    display: block;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column; /*default é row*/
    gap: 8px; /* distância padrão entre os elementos */
}
label{
    font-weight: bold; /* negrito */
    font-size: 1.1em; /* aumentamos em 10% a fonte padrão */
}
input{
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #ccc;
}
button{
    padding: 8px;
    border-radius: 8px;
    border: none; /* nenhuma */
    color: #fff;    
}
.calcular{
    background:#3498db;
}
.calcular:hover{
    background: #031c2d;
}
.limpar{
    background: #e74c3c;
}
.limpar:hover{
    background: #370e0a;
}